* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.main {
    height: 100vh;
    background-color:#173F5F;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color:#20639b;
}

nav ul{
    list-style: none;
    margin-right: 30px;

} 

nav ul li{
    display: inline-block;
    text-transform: capitalize;
    margin-left: 20px;
}
nav h1{
    margin-left: 30px;
}
header{
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    
}
.left h2,p{
margin-bottom: 20px;
color: white;
}

#main li button{
    height:40px;
    background-color: #F6D55C;
   
}
.left button{
    height: 40px;
    background-color: #3CAEA3;
}